# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Lambton\AIMT\Semester 3\AI and ML Capestone (3406)\Human_Activity_Recognition\har_app\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
